<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797336178450-b2m4htcjgmbkrgu17f6n46tkmnfkpmj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797336178450-b2m4htcjgmbkrgu17f6n46tkmnfkpmj8</string>
	<key>API_KEY</key>
	<string>AIzaSyDrL-YWowfumprZvtRXbB65DOYlPgcUe54</string>
	<key>GCM_SENDER_ID</key>
	<string>797336178450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coursesApp</string>
	<key>PROJECT_ID</key>
	<string>edu-vista-fdeec</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-vista-fdeec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797336178450:ios:220d9306b8e461104f2dcb</string>
</dict>
</plist>